src/main/app/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.3.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
	<flow name="file_component" doc:name="file_component">
		<file:inbound-endpoint path="D:\test\input"
			responseTimeout="10000" mimeType="text/xml" doc:name="File" />
		<mulexml:xslt-transformer
			maxIdleTransformers="2" maxActiveTransformers="5"
			xsl-file="D:\test\xsl\addresses.xsl" doc:name="XSLT" />
		<vm:outbound-endpoint exchange-pattern="one-way"
			path="xsl.mess1" responseTimeout="10000" mimeType="text/plain"
			doc:name="VM" />
	</flow>
	<flow name="vm_flow" doc:name="vm_flow">
		<vm:inbound-endpoint exchange-pattern="one-way"
			path="xsl.mess1" responseTimeout="10000" mimeType="text/plain"
			doc:name="VM" />
		<file:outbound-endpoint path="D:\test\output"
			outputPattern="myfile#[function:datestamp].txt" responseTimeout="10000"
			doc:name="File" />
	</flow>
</mule>
